<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tube_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{31,0},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_jump_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{62,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_stand_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{240,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_stand_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{418,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_stand_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{596,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_swing_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{774,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_swing_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{952,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_swing_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1130,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_walk_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1308,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_walk_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1486,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_walk_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1664,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tube_walk_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1842,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tube.png</string>
            <key>size</key>
            <string>{2020,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7d339ffdb6c92ba3b5c18e025ec0dc0:03ca8645061685c5410cb10f8afa1a5a:9fbf309c117aa6dbd7c2461e8d94fcb3$</string>
            <key>textureFileName</key>
            <string>tube.png</string>
        </dict>
    </dict>
</plist>
