<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soulBlade_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{0,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{257,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{771,227},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{1028,227},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{514,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{771,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{1028,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{1285,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{1542,0},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{0,227},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{257,227},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,227}</string>
                <key>spriteSourceSize</key>
                <string>{257,227}</string>
                <key>textureRect</key>
                <string>{{514,227},{257,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,164}</string>
                <key>spriteSourceSize</key>
                <string>{97,164}</string>
                <key>textureRect</key>
                <string>{{1285,227},{97,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,164}</string>
                <key>spriteSourceSize</key>
                <string>{97,164}</string>
                <key>textureRect</key>
                <string>{{1382,227},{97,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,164}</string>
                <key>spriteSourceSize</key>
                <string>{97,164}</string>
                <key>textureRect</key>
                <string>{{1479,227},{97,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,164}</string>
                <key>spriteSourceSize</key>
                <string>{97,164}</string>
                <key>textureRect</key>
                <string>{{1576,227},{97,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1673,227},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_iconDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1705,227},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soulBlade_iconMouseOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1737,227},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soulBlade.png</string>
            <key>size</key>
            <string>{1799,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2778050d79242bfdbb893d50e47918fb:632acdca4dca5bb5351f8a8acd3b71e8:8c4594d9fe38da6c7a83d3d983352ad1$</string>
            <key>textureFileName</key>
            <string>soulBlade.png</string>
        </dict>
    </dict>
</plist>
