<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>나이트 매지션_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{35,0},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_jump_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{70,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_jump_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{248,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{426,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{604,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{782,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{960,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1138,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_stand_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1316,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1494,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1672,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1850,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{178,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_swing_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{356,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{534,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{712,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{890,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1068,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1246,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1424,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_3_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1602,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>나이트 매지션_walk_3_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1780,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>나이트 매지션.png</string>
            <key>size</key>
            <string>{2028,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be7bcf3c1f7455d0e73ad80ff308d98:15ecbb0dd7a7f7d52baf9d4d4a58371b:7e352837492f0a4fbe6478d3b2832a41$</string>
            <key>textureFileName</key>
            <string>나이트 매지션.png</string>
        </dict>
    </dict>
</plist>
