<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>커닝공고 교복_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{22,0},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_jump_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{44,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_jump_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{222,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{400,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{578,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{756,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{934,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1112,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_stand_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1290,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1468,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1646,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1824,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{178,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_swing_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{356,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_0_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{534,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_0_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{712,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_1_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{890,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1068,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_2_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1246,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1424,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_3_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1602,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>커닝공고 교복_walk_3_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1780,151},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>커닝공고 교복.png</string>
            <key>size</key>
            <string>{2002,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2b03d127732c304911bd141264c447:056f052d51c9c49b8e6275836c214d31:7902d13e6a3bf4e48e7e8d8bee0ab119$</string>
            <key>textureFileName</key>
            <string>커닝공고 교복.png</string>
        </dict>
    </dict>
</plist>
