<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>divide_attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,501}</string>
                <key>spriteSourceSize</key>
                <string>{695,501}</string>
                <key>textureRect</key>
                <string>{{0,0},{695,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,501}</string>
                <key>spriteSourceSize</key>
                <string>{695,501}</string>
                <key>textureRect</key>
                <string>{{695,0},{695,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{1390,0},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{0,501},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{268,501},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{536,501},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{804,501},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_hit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{268,193}</string>
                <key>textureRect</key>
                <string>{{1072,501},{268,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1340,501},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_iconDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1372,501},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divide_iconMouseOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1404,501},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>divide2.png</string>
            <key>size</key>
            <string>{1658,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:521f261149ac95274a5c7e78fe316c56:140192ac001c68eec954e391b4f9742d:782857614329f43a905b3dbf0a6e4079$</string>
            <key>textureFileName</key>
            <string>divide2.png</string>
        </dict>
    </dict>
</plist>
