<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>파이널 블로우_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{0,0},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{436,0},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{0,354},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{436,354},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{0,708},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{436,708},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{0,1062},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,354}</string>
                <key>spriteSourceSize</key>
                <string>{436,354}</string>
                <key>textureRect</key>
                <string>{{436,1062},{436,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,205}</string>
                <key>spriteSourceSize</key>
                <string>{224,205}</string>
                <key>textureRect</key>
                <string>{{0,1416},{224,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,205}</string>
                <key>spriteSourceSize</key>
                <string>{224,205}</string>
                <key>textureRect</key>
                <string>{{224,1416},{224,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,205}</string>
                <key>spriteSourceSize</key>
                <string>{224,205}</string>
                <key>textureRect</key>
                <string>{{448,1416},{224,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,205}</string>
                <key>spriteSourceSize</key>
                <string>{224,205}</string>
                <key>textureRect</key>
                <string>{{0,1621},{224,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_hit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,205}</string>
                <key>spriteSourceSize</key>
                <string>{224,205}</string>
                <key>textureRect</key>
                <string>{{224,1621},{224,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{448,1621},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_iconDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{480,1621},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>파이널 블로우_iconMouseOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{512,1621},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>파이널 블로우.png</string>
            <key>size</key>
            <string>{872,1826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ea0e911eb4b09e4b02def85e2232ded:9dcce6fd4eee458dba219d1560d8f6b2:9fbab4cb4e05781738fe3d5fcf2ca7e5$</string>
            <key>textureFileName</key>
            <string>파이널 블로우.png</string>
        </dict>
    </dict>
</plist>
