<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>다크 포그_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,598},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,1196},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>다크 포그5.png</string>
            <key>size</key>
            <string>{1199,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98be1bad767ad9b649988641b45b019:a86538fefee48fe1498ca4ccb7d38fe9:a51e994ba3195efa16ed2d5adcd0f67f$</string>
            <key>textureFileName</key>
            <string>다크 포그5.png</string>
        </dict>
    </dict>
</plist>
