<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>쉘터_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{0,880},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{428,880},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{856,880},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{1284,880},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{0,1164},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{428,1164},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{856,1164},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{1284,1164},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{0,1448},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{428,1448},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{856,1448},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{1284,1448},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{0,1732},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_0_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,284}</string>
                <key>spriteSourceSize</key>
                <string>{428,284}</string>
                <key>textureRect</key>
                <string>{{428,1732},{428,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{96,0},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{487,0},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{878,0},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1269,0},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{391,176},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{782,176},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1173,176},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1564,176},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{391,352},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{782,352},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1173,352},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1564,352},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{391,528},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{782,528},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1173,528},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1564,528},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{391,704},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{782,704},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1173,704},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,176}</string>
                <key>spriteSourceSize</key>
                <string>{391,176}</string>
                <key>textureRect</key>
                <string>{{1564,704},{391,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_iconDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>쉘터_iconMouseOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>쉘터.png</string>
            <key>size</key>
            <string>{1955,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d49d4d716340163dffb03abf38b4834:c033648b36c3490e6ca071db5f2abcd3:159b5b5fb58c55c07abe3eae90b0e2ea$</string>
            <key>textureFileName</key>
            <string>쉘터.png</string>
        </dict>
    </dict>
</plist>
