<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>미사일_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{139,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,74}</string>
                <key>textureRect</key>
                <string>{{139,0},{139,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{139,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,74}</string>
                <key>textureRect</key>
                <string>{{139,74},{139,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{0,148},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{137,148},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{274,148},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{0,294},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{137,294},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>미사일_hit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,146}</string>
                <key>spriteSourceSize</key>
                <string>{137,146}</string>
                <key>textureRect</key>
                <string>{{274,294},{137,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>미사일.png</string>
            <key>size</key>
            <string>{411,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4897f903bb0fe0cd1c0420d3051facf:7d82a85b6e82c99a42adba90861a8947:612b4108f5d5974d959dd2f89b3efc33$</string>
            <key>textureFileName</key>
            <string>미사일.png</string>
        </dict>
    </dict>
</plist>
