<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameIntro_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,184}</string>
                <key>spriteSourceSize</key>
                <string>{670,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{670,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameIntro_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,184}</string>
                <key>spriteSourceSize</key>
                <string>{670,184}</string>
                <key>textureRect</key>
                <string>{{0,184},{670,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameIntro_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,184}</string>
                <key>spriteSourceSize</key>
                <string>{670,184}</string>
                <key>textureRect</key>
                <string>{{0,368},{670,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameIntro_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,184}</string>
                <key>spriteSourceSize</key>
                <string>{670,184}</string>
                <key>textureRect</key>
                <string>{{0,552},{670,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameIntro.png</string>
            <key>size</key>
            <string>{670,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdff642a2da550463992bd14d1e7566f:3c0d4755d8d5593d5ddf8567a02e00f2:4eb9d2967db145764ca07c59bb9b48cb$</string>
            <key>textureFileName</key>
            <string>GameIntro.png</string>
        </dict>
    </dict>
</plist>
