<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grinSnail_die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,330},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,363},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,396},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,429},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,462},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,495},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,528},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,561},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,66},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,99},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,132},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,165},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,198},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,231},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,264},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_die_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,33}</string>
                <key>spriteSourceSize</key>
                <string>{44,33}</string>
                <key>textureRect</key>
                <string>{{0,297},{44,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{43,33}</string>
                <key>textureRect</key>
                <string>{{0,594},{43,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,627},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,653},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,679},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,705},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,731},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grinSnail_stand_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{0,757},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>grinSnail.png</string>
            <key>size</key>
            <string>{44,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e26a1e6921bd278759118c3ffb8b3f83:9ee333db72a1dd31b75eb1e81245c657:6652162e65dca486251db995d90eb78f$</string>
            <key>textureFileName</key>
            <string>grinSnail.png</string>
        </dict>
    </dict>
</plist>
