<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>마이너 좀비_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{111,0},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{222,206},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{333,206},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{0,309},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{222,0},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{333,0},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{0,103},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{111,103},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{222,103},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{333,103},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{0,206},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{111,206},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{111,309},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{186,309},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{0,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{75,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{150,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{225,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{300,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{375,506},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{0,600},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{75,600},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{150,600},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{225,600},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{261,309},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{336,309},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{0,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{75,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{150,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{225,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{300,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_die_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{375,412},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,88}</string>
                <key>spriteSourceSize</key>
                <string>{61,88}</string>
                <key>textureRect</key>
                <string>{{300,600},{61,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{65,89}</string>
                <key>textureRect</key>
                <string>{{361,600},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{65,89}</string>
                <key>textureRect</key>
                <string>{{0,694},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{65,89}</string>
                <key>textureRect</key>
                <string>{{65,694},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_stand_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,89}</string>
                <key>spriteSourceSize</key>
                <string>{61,89}</string>
                <key>textureRect</key>
                <string>{{130,694},{61,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,89}</string>
                <key>spriteSourceSize</key>
                <string>{61,89}</string>
                <key>textureRect</key>
                <string>{{191,694},{61,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>마이너 좀비_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,89}</string>
                <key>spriteSourceSize</key>
                <string>{61,89}</string>
                <key>textureRect</key>
                <string>{{252,694},{61,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>마이너 좀비.png</string>
            <key>size</key>
            <string>{450,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6734f67e39c847deef7a21a00c23e41e:c6c692d577374cb8596b3edd461736cf:d407f9fbd00d8f029cf86006d02ad374$</string>
            <key>textureFileName</key>
            <string>마이너 좀비.png</string>
        </dict>
    </dict>
</plist>
