<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>절망의 날개_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{0,0},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{520,0},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{520,807},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{1040,0},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{0,269},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{520,269},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{1040,269},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{0,538},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{520,538},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{1040,538},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,269}</string>
                <key>spriteSourceSize</key>
                <string>{520,269}</string>
                <key>textureRect</key>
                <string>{{0,807},{520,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1040,807},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1292,807},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1512,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1544,807},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1796,807},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{0,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{252,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{504,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{756,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1008,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_die_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,264}</string>
                <key>spriteSourceSize</key>
                <string>{252,264}</string>
                <key>textureRect</key>
                <string>{{1260,1076},{252,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_hit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,221}</string>
                <key>spriteSourceSize</key>
                <string>{198,221}</string>
                <key>textureRect</key>
                <string>{{1764,1076},{198,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{0,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{270,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{540,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{810,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{1080,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{1350,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{1620,1340},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_move_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,237}</string>
                <key>spriteSourceSize</key>
                <string>{270,237}</string>
                <key>textureRect</key>
                <string>{{0,1577},{270,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{270,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{482,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{694,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{906,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{1118,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{1330,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{1542,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>절망의 날개_stand_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,237}</string>
                <key>spriteSourceSize</key>
                <string>{212,237}</string>
                <key>textureRect</key>
                <string>{{1754,1577},{212,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>절망의 날개.png</string>
            <key>size</key>
            <string>{2048,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a98b1598e18988a4f046fde7adc0f65:6a0f51f550ca05c2e64d01f1aedec88c:f64232f70eaf6a43940129a56672713e$</string>
            <key>textureFileName</key>
            <string>절망의 날개.png</string>
        </dict>
    </dict>
</plist>
