<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LavelUp_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,700},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,700},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,1050},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,1050},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,1400},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,1400},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LavelUp1.png</string>
            <key>size</key>
            <string>{940,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46dc0f53ab1230a7b16fd8a0bc4187a0:c4822aed8de670a2ae370ad091a96527:dc5b86027a327f544d04337fb21a25c1$</string>
            <key>textureFileName</key>
            <string>LavelUp1.png</string>
        </dict>
    </dict>
</plist>
