<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damage_effect_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{72,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{108,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{144,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{180,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{216,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{252,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{288,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damage_effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{36,46}</string>
                <key>textureRect</key>
                <string>{{324,0},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damage_effect.png</string>
            <key>size</key>
            <string>{360,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f405bfc08d71365aff9bb865a97029e:cdcf5d4e2a65137bbd90a2d253f21909:e1a0688ce8120ebab2f0fa0f0af41e82$</string>
            <key>textureFileName</key>
            <string>damage_effect.png</string>
        </dict>
    </dict>
</plist>
