<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>다크 포그_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,598},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,1196},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>다크 포그4.png</string>
            <key>size</key>
            <string>{1199,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42e6fa83379dac1c51dccf75d26396a9:433509795e70ea41b43a44076857140f:7a6ed962de34a10f2c8755d3aae537e5$</string>
            <key>textureFileName</key>
            <string>다크 포그4.png</string>
        </dict>
    </dict>
</plist>
