<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>다크 포그_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,0},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,598},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>다크 포그_attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1199,598}</string>
                <key>spriteSourceSize</key>
                <string>{1199,598}</string>
                <key>textureRect</key>
                <string>{{0,1196},{1199,598}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>다크 포그2.png</string>
            <key>size</key>
            <string>{1199,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e533ca76187430141dfd7f6a4fb0718e:cc148cb03e4c0a3ba2ded1f7c92bd529:f883d1b5da3e4fee93ae1e02a571cd8a$</string>
            <key>textureFileName</key>
            <string>다크 포그2.png</string>
        </dict>
    </dict>
</plist>
