<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>백록_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{41,66},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{81,66},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{0,100},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{40,100},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{80,100},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{0,134},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{40,134},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_move_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{80,134},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_stand_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,33}</string>
                <key>textureRect</key>
                <string>{{64,0},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_stand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_stand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,33}</string>
                <key>textureRect</key>
                <string>{{41,33},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_stand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,33}</string>
                <key>textureRect</key>
                <string>{{82,33},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>백록_stand_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,33}</string>
                <key>spriteSourceSize</key>
                <string>{41,33}</string>
                <key>textureRect</key>
                <string>{{0,66},{41,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>백록.png</string>
            <key>size</key>
            <string>{123,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b708f3382349879383d82407acd6ebc0:f2c9d8d0f3077f27404388792ad6c6ab:59d0f570b5b9f4d52825ae943cddc4df$</string>
            <key>textureFileName</key>
            <string>백록.png</string>
        </dict>
    </dict>
</plist>
