<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LavelUp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{940,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{1410,0},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{940,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{1410,350},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{0,700},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{470,700},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavelUp_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,350}</string>
                <key>spriteSourceSize</key>
                <string>{470,350}</string>
                <key>textureRect</key>
                <string>{{940,700},{470,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LavelUp2.png</string>
            <key>size</key>
            <string>{1880,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98207cb322b944b44d39e11318affbe9:c3678d3332b178b52d4389154636ec99:866d21390fd55a870f9310db79373d7f$</string>
            <key>textureFileName</key>
            <string>LavelUp2.png</string>
        </dict>
    </dict>
</plist>
