<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>무한의 포톤 신발_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{26,0},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_jump_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{52,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_stand_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{230,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_stand_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{408,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_stand_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{586,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_swing_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{764,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_swing_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{942,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_swing_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1120,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_walk_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1298,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_walk_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1476,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_walk_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1654,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>무한의 포톤 신발_walk_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{1832,0},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>무한의 포톤 신발.png</string>
            <key>size</key>
            <string>{2010,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:199b1a2a9c2388fd6a3b60490f2fc72e:c89e7610fbfeadf4d4b57ce48a13efc5:0699959b1b2bba6a945982a0bb18ccbc$</string>
            <key>textureFileName</key>
            <string>무한의 포톤 신발.png</string>
        </dict>
    </dict>
</plist>
