<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>슈퍼 부스터 운동화_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_iconRaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_jump_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,159}</string>
                <key>spriteSourceSize</key>
                <string>{178,159}</string>
                <key>textureRect</key>
                <string>{{0,42},{178,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_stand_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,201},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_stand_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,352},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_stand_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,503},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_swing_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,654},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_swing_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,805},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_swing_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,956},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_walk_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,1107},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_walk_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,1258},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_walk_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,1409},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>슈퍼 부스터 운동화_walk_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{0,1560},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>슈퍼 부스터 운동화.png</string>
            <key>size</key>
            <string>{178,1711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b9dddd460701e6721350dda73f9b7e6:4c634d920ae0b336bd7420c857bf7ea5:578178b75dbe70a13e8bda71bc61f8d8$</string>
            <key>textureFileName</key>
            <string>슈퍼 부스터 운동화.png</string>
        </dict>
    </dict>
</plist>
